@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab&display=swap');

$grad: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
$dark: radial-gradient( circle 987px at 99% 2%,  rgba(22,183,229,1) 0%, rgba(9,54,103,1) 90% );
$primary: #05d1b2;
$font-body: 'Quicksand', sans-serif;
$font-title: 'Roboto Slab', serif;